.back_to_top_container {
  position: fixed;
  bottom: 0;
  z-index: 20;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
    background-color: #212121;
    color: #fff;
    padding: 1rem;
    border-radius: 7px;
    width: 150px;
  }

  &.fixed {
    bottom: 3.5%;
    margin: 0 auto;
  }

  &.hide {
    display: none;
    transition: all 2s ease;
  }

  h6 {
    margin: 0;
    font-weight: 700;
  }
}


@media screen and (min-width: 1100px) {
    .back_to_top_container {
        max-width: 98%;

        div {
            margin: 0 0 0 auto;
        }
    }
}