
.single-page {
    margin: 1rem auto;
    min-height: 100vh;
}


@media screen and (min-width: 750px) {
    .single-page {
        max-width: 93%;
    }
}

@media screen and (min-width: 990px) {
    .single-page {
        max-width: 85%;
    }
}