.fixed-footer-container {
  position: fixed;
  bottom: 0;
  z-index: 20;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 0.75rem;
  transition: all 0.5s ease;

  &.fixed {
    bottom: 0;
  }

  &.hide {
    bottom: -50%;
    transition: all 2s ease;
  }

    p {
        font-size: 0.75rem;
        color: #717171;
    }

    &:first-of-type {
      p {
        &:first-of-type {
          color: #e61e4d;
        }
      }
    }
}

.top-right-corner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  cursor: pointer;
  flex-shrink: 0;
  padding: 1rem;

  span {
    text-decoration: underline;
    font-weight: 600;
    font-size: 1rem;
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 0.67rem 1.5rem;
    display: block;
    width: fit-content;
    text-align: center;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(90deg, #ff385c, #e31c5f);
    transition: background-image 0.2s ease;

    &:hover {
      background-image: #e31c5f;
    }
  }
}

@media screen and (min-width: 750px) {
  .fixed-footer-container {
    display: none;
  }
}
