.guildes-container {
  margin: 3rem auto;
  width: 80%;
  max-width: 1300px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    a {
      color: #000;
      display: none;
    }
  }

  .articles {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem auto;
    width: 100%;

    a {
      color: #000;
      width: 100%;
      display: block;
    }

    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 0.75rem;
    }
  }

  .articles_mobile {
    margin: 0 auto;

    .mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1.35rem 0;
      gap: 1rem;

      &:last-of-type {
        border-bottom: 0px transparent;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        span {
          font-size: 1.15rem;
        }
      }
    }
  }
}


@media screen and (min-width: 750px) {
  .guildes-container {
    .wrapper {
      a {
        display: flex;
      }
    }

    .articles_mobile {
      display: none;
    }

    .articles {
      display: grid;
    }
  }
}

@media screen and (min-width: 990px) {
  .guildes-container {

    .articles {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}