.help-header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(221, 221, 221, 0.8);

  .header-wrapper {
    width: 88%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #fff;

    a {
      color: #000;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        font-weight: 700;
        font-size: 1.15rem;
        margin-left: -0.5rem;
      }
    }
  }

  .mobile-search-icon {
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(221, 221, 221, 0.4);
    }
  }

  .help-search {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    padding: 0.45rem 0.3rem;
    border: 1px solid rgba(194, 193, 193, 0.9);
    border-radius: 70px;
    background-color: rgba(221, 221, 221, 0.3);
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgba(221, 221, 221, 0.6);
    }

    span {
      color: #000;
      padding-left: 1.25rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }

    .search-icon {
      background-color: #e31c5f;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #fc1361;
      }
    }
  }

  .top-right-corner {
    display: none;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    cursor: pointer;
    flex-shrink: 0;

    div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      border: 1px solid rgba(221, 221, 221, 0.8);
      border-radius: 30px;
      padding: 0.25rem 0.5rem;
      flex-wrap: nowrap;
      width: fit-content;
    }

    span {
      text-decoration: underline;
      font-weight: 600;
      font-size: 1rem;
    }

    button {
      border: none;
      border-radius: 6px;
      padding: 0.67rem 1.5rem;
      display: block;
      width: 100%;
      text-align: center;
      color: white;
      font-weight: 600;
      background-image: linear-gradient(90deg, #ff385c, #e31c5f);
      transition: background-image 0.2s ease;

      &:hover {
        background-image: #e31c5f;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .help-header {
    display: flex;

    .top-right-corner {
      display: flex;
    }

    .mobile-search-icon {
        display: none;
    }

    .help-search {
        display: flex;
    }
  }
}

@media screen and (min-width: 1800px) {
  .help-header {
    .header-wrapper {
      max-width: 60%;
    }
  }
}
