
a {
    color: #000;
}

.accomodation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    color: #000;

    .navigation-buttons {
        width: 100%;
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .showOnHover {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgb(226, 224, 224);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 0px transparent;
        position: relative;

        span {
            display: block;
            margin: auto;
        }
        

        &:hover {
            background-color: #fff;
            transition: all 0.2s ease-in-out;
        }

        &.right {
            margin-left: auto;
        }

    }

    &:hover {
        .showOnHover {
            display: flex;
            z-index: 10;

            &.hide {
                display: none;
            }

            &.hide-left {
                display: none;
            }

            .icon {
                color: #000;
                font-size: 0.9rem;
                transform: translate(-50%, -50%);
                width: 100%;
                margin: 0.1rem auto 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
            }
        }
    }

    .image-wrapper {
        border-radius: 10px;
        width: 100%;
        position: relative;
        z-index: 5;

        .favorite-like-wrapper {
            position: absolute;
            width: 100%;
            top: 5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.1rem;
            z-index: 10;

            .favorite {
                left: 5%;
                background-color: #fff;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.2rem 0.6rem;
                border-radius: 30px;

                p {
                    padding: 0;
                    margin: 0;
                    transform: translateY(-5%);
                }
            }

            .like {
                right: 5%;
                margin-left: auto;
                background-color: rgba(0, 0, 0, 0.6);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                z-index: 10;
            }
        }
        
        .dot-navigation {
            position: absolute;
            left: 45%;
            bottom: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3rem;
            z-index: 10;
            transition: all 0.3s ease-in-out;

            .circle {
                width: 10px;
                height: 10px;
                background-color: #717171;
                border: 1px solid #fff;
                border-radius: 50%;

                &.active-circle {
                    background-color: #fff;
                }
            }
        }
    }

    .accomodation-content {
        width: 100%;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                font-size: 1rem;
                font-weight: 700;

                a {
                    color: #000;
                }
            }

            .rating {
                display: flex;
                align-items: center;
                gap: 0.15rem;
                font-weight: 500;
            }
        }

        p {
            color: #717171;
            font-weight: 500;
            margin: -0.38rem 0 0.1rem 0;
        }

        .currency {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            margin-top: 0.3rem;

            span {
                font-weight: 400;
            }
        }
    }
}