.gift-card-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.75rem 0;

  svg {
    margin-bottom: 1.5rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    width: 95%;
    height: 100%;
  }

  .heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 0 auto;
    font-size: 4.5rem;
    letter-spacing: -0.15rem;
    font-weight: 600;
    line-height: 4.25rem;
  }

  .hero-gift-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 1rem auto 20rem;
    position: relative;
    top: 100%;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      position: absolute;
      top: 100%;
      z-index: 10;
      margin: 0 auto;

      &:first-of-type {
        left: 0;
        right: 0
      }

      &:last-of-type {
        right: 0;
        left: 0;
        z-index: 5;
      }
    }
  }
}

@media screen and (min-width: 520px) {
  .gift-card-hero-section {

    .hero-gift-cards {
      margin: 1rem auto 30rem;
    }
  }
}


@media screen and (min-width: 750px) {
  .gift-card-hero-section {
    padding: 4rem 0;
    margin: 4rem auto 3rem;

    svg {
      display: none;
    }

    h2 {
      font-size: 10rem;
      letter-spacing: -0.5rem;
      font-weight: 600;
      line-height: 9rem;
    }

    .hero-gift-cards {
      margin: 1rem auto 35rem;
    }
  }
}

@media screen and (min-width: 990px) {
  .gift-card-hero-section {

    .hero-gift-cards {
      margin: 1rem auto 45rem;
    }
  }
}
